:root {
    --primary-color: #0b3c6d;
    --secondary-color:#32bcc1;
    --tertiary-color: #d9b310;
    --fourth-color: #1d2731;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

h1 {
    color: var(--tertiary-color);
    font-size: 35px;
    margin-left: 37px;
}

.head-links {
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

.head-links ul li {
    align-items: center;
    list-style: none;
    justify-content: space-between;
    float: left;
    padding: 10px;
    margin: 0 30px 0 0;
}

h2 {
    text-align: center;
    position: relative;
    width: 80%;
    margin-left: 25px;
    color: var(--tertiary-color);
}

h3 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    max-height: 500px;
    justify-content: right;
}


.profile-pic {
    width: 100x;
    flex-wrap: wrap;
}

.profile-pic img {
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: left;
    position: center;
    border: 2px solid var(--fourth-color);
}

.header-styles {
    padding-bottom: 290px;
    margin: 40px auto 35px auto;
    font-size: 30px;
    width: 200px;
}

.left-bar {
    display: flex;
    flex: 1;
    width: 700px;
    color: var(--tertiary-color);
    position: sticky;
    flex-direction: row;
    height: 100vw;
    border-right: 3px solid var(--secondary-color);
}


.bio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.right-bar {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    max-height: 350px;
    padding-left: 30px;
}

.right-bar p {
    line-height: 2;
    flex: 1;
    color: var(--fourth-color);
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0px;

}

.bio div ul {
    list-style: none;
    text-align: center;
    color: var(--tertiary-color);
}

.bio div ul li {
    width: 30%;
    margin: 0 0;
}

.bio h4 {
    font-size: 25px;
    justify-content: center;
    margin: 10px auto;
}

.bio a {
    justify-content: center;
    display: flex;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    max-width: 700px;
    padding-top: 40px;
}

.contact-info div {
    margin: 0 auto;
}

.contact-info ul {
    display: flex;
    width: 700px;
    flex-direction: row;
    font-size: 20px;
}

.left-headers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 13px;
    width: 250px;
    text-align: center;
}

.contacts {
    width: 150px;
}

.contacts a {
    width: 90px;
}

.contacts p {
    width: 200px;
    margin: 0 -25px;
    color: var(--tertiary-color);
    font-weight: normal;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    background-color: var(--tertiary-color);
}

.project-header h2 {
    color: var(--primary-color);
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.run-buddy {
    background-image: url(./images/Run-Buddy.png);
}

.projects span {

        position:absolute; 
        width:250px;
        height:250px;
        top:0;
        left: 0;
      
        z-index: 1;
      
        /* fixes overlap error in IE7/8, 
           make sure you have an empty gif */
        background-image: url('./empty.gif');
 
}