:root {
    --primary-color: rgb(109, 47, 253);
    --secondary-color: #2f54f8;
    --tertiary-color: #001763;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

.head-links {
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

.head-links ul li {
    align-items: center;
    list-style: none;
    justify-content: space-between;
    float: left;
    padding: 10px;
    margin: 0 30px 0 0;
}

header h1 {
    font-size: 35px;
    margin-left: 30px;
}

header a {
    text-decoration: none;

}

h2 {
    text-align: center;
    position: relative;
    width: 80%;
    margin-left: 25px;
}

.profile-pic img {
    max-height: 500px;
    max-width: 300px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    position: center;
    margin-left: 10px;
    border: 2px solid black;
}


.bio {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bio p {
    line-height: 1.5;
    flex: 1;
}

.bio div ul {
    list-style: none;
    flex-direction: row;
    width: 200px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.bio h3 {
    padding: 5px 5px 5px 5px;
}

.bio h4 {
    font-size: 15px;
    justify-content: center;
}

.bio a {
    text-decoration: none;
    justify-content: center;
}

.run-buddy {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 20px;
    background-image: url(./Run-buddy.png);
    background-size: cover;
}