:root {
    --primary-color: #0b3c6d;
    --secondary-color:#32bcc1;
    --tertiary-color: #d9b310;
    --fourth-color: #1d2731;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

h1 {
    color: var(--tertiary-color);
    font-size: 35px;
    margin-left: 53px;
    text-align: left;
}

.head-links {
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

.head-links ul li {
    align-items: center;
    list-style: none;
    justify-content: space-between;
    float: left;
    padding: 10px;
    margin: 0 30px 0 0;
}

h2 {
    text-align: center;
    position: relative;
    width: 80%;
    margin-left: 25px;
    color: var(--tertiary-color);
}

.profile-pic img {
    max-height: 500px;
    max-width: 300px;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    position: center;
    margin-left: 10px;
    border: 2px solid var(--fourth-color);
}

.header-styles {
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 20px;
    margin: 0 auto 35px auto;
    font-size: 48px;
}

.bio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bio p {
    line-height: 2;
    flex: 1;
    color: var(--fourth-color);
    font-weight: bold;
    font-size: 20px;
}

.bio div ul {
    list-style: none;
    flex-direction: row;
    width: 200px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: var(--tertiary-color);
}

.bio h3 {
    padding: 5px 5px 5px 5px;
}

.bio h4 {
    font-size: 15px;
    justify-content: center;
}

.bio a {
    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    background-color: var(--tertiary-color);
}

.project-header h2 {
    color: var(--primary-color);
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.run-buddy {
    background-image: url(./images/Run-Buddy.png);
}

.projects span {

        position:absolute; 
        width:250px;
        height:250px;
        top:0;
        left: 0;
      
        z-index: 1;
      
        /* fixes overlap error in IE7/8, 
           make sure you have an empty gif */
        background-image: url('./empty.gif');
 
}